/* Global Styles */

/* ------------------------------- */

body {
    padding-top: 100px;
    background: rgb(56, 62, 75);
}

@media(min-width:768px) {
    body {
        padding-top: 50px;
    }
}

/*.modal:nth-of-type(even) {
    z-index: 1042 !important;
}
.modal-backdrop.in:nth-of-type(even) {
    z-index: 1041 !important;
}*/

.modal-full {
    width: 90%
}

.modal-body {
    overflow-y: auto;
}

.modal-header {
    background:  rgb(239, 239, 239);
    color: rgb(56, 62, 75);
    padding: 12px 20px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.modal-footer {
    padding: 12px 20px;
    margin-top: 0;
    background: rgb(255, 255, 255);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.modal-content {
    border-radius: 3px;
}


/* Wrappers */

/* ------------------------------- */

/* main Region*/

#main {
    margin-top: 20px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: rgb(245, 245, 245);
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        min-height: 1300px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-brand {
    width: 250px;
    color: #fff !important;
}


.well {
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(246, 246, 246);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Navigation */

/* ------------------------------- */

.navbar-default {

    border: none;
}
.navbar-top {
    /*background-color: rgb(30, 143, 198);*/
    background-color: #2980b9;

}


/* Sidebar Menu Styles */

.nav-sidebar > li > a {
    color: #fff;
    transition: all 0.3s ease;
}

.nav-sidebar > li > a:hover {
    background-color: rgb(45, 50, 61);;
    color: rgb(255, 255, 255);
}

.nav-sidebar li  {

       background: rgb(56, 62, 75);

}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 52px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media(max-height:600px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 300px;
        overflow-y: scroll;
    }
}

@media(max-height:400px) and (max-width:767px) {
    .sidebar-collapse {
        max-height: 200px;
        overflow-y: scroll;
    }
}



/*buttons*/

.btn {
border:0;
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
text-shadow:none;
background:#d6d9e0;
}

.btn-primary {
color:#fff;
background:#36a9e1;
}

.btn-primary:hover,.btn-primary.disabled,.btn-primary[disabled] {
background-color:#1e8fc6;
}

.btn-primary:active,.btn-primary.active {
background-color:#1c89be;
}

.btn-warning {
color:#fff;
background:#fabb3d;
}

.btn-warning:hover,.btn-warning.disabled,.btn-warning[disabled] {
background-color:#f9aa0b;
}

.btn-warning:active,.btn-warning.active {
background-color:#f4a406;
}

.btn-danger {
color:#fff;
background:#ff5454;
}

.btn-danger:hover,.btn-danger.disabled,.btn-danger[disabled] {
background-color:#ff2121;
}

.btn-danger:active,.btn-danger.active {
background-color:#ff1717;
}

.btn-success {
color:#fff;
background:#78cd51;
}

.btn-success:hover,.btn-success.disabled,.btn-success[disabled] {
background-color:#5db734;
}

.btn-success:active,.btn-success.active {
background-color:#59af32;
}

.btn-info {
color:#fff;
background:#67c2ef;
}

.btn-info:hover,.btn-info.disabled,.btn-info[disabled] {
background-color:#39afea;
}

.btn-info:active,.btn-info.active {
background-color:#30ace9;
}

.btn-inverse {
color:#fff;
background:#444;
}

.btn-inverse:hover,.btn-inverse.disabled,.btn-inverse[disabled] {
background-color:#2b2b2b;
}

.btn-inverse:active,.btn-inverse.active {
background-color:#252525;
}


.panel-heading {
border-color: rgb(239, 242, 247);
font-size: 16px;
font-weight: 300;
}

 /* ajustes no gritter */

.gritter-title {
    text-shadow: none;
}

.gritter-item-wrapper {
    background-image:none!important;
    box-shadow:0 2px 10px rgba(50,50,50,0.5);
    background:rgba(50,50,50,0.92);
}

.gritter-top,
.gritter-bottom,
.gritter-item {
    background-image: none;
}

.gritter-item-wrapper.gritter-info {
    background:rgba(49,81,133,0.92);
}

.gritter-item-wrapper.gritter-error {
    background:rgba(153,40,18,0.92);
}

.gritter-item-wrapper.gritter-success {
    background:rgba(89,131,75,0.92);
}

.gritter-item-wrapper.gritter-warning {
    background:rgba(190,112,31,0.92);
}

.gritter-item-wrapper.gritter-light {
    background:rgba(245,245,245,0.95);
    border:1px solid #BBB;
}

.gritter-item-wrapper.gritter-light.gritter-info {
    background:rgba(232,242,255,0.95);
}

.gritter-item-wrapper.gritter-light.gritter-info .gritter-item {
    color:#4A577D;
}

.gritter-item-wrapper.gritter-light.gritter-error {
    background:rgba(255,235,235,0.95);
}

.gritter-item-wrapper.gritter-light.gritter-error .gritter-item {
    color:#894A38;
}

.gritter-item-wrapper.gritter-light.gritter-success {
    background:rgba(239,250,227,0.95);
}

.gritter-item-wrapper.gritter-light.gritter-success .gritter-item {
    color:#416131;
}

.gritter-item-wrapper.gritter-light.gritter-warning {
    background:rgba(252,248,227,0.95);
}

.gritter-item-wrapper.gritter-light.gritter-warning .gritter-item {
    color:#946446;
}

.gritter-item p {
    line-height:1.8;
}

.gritter-close {
    left:auto;
    right:3px;
    background-image:none;
    width:18px;
    height:18px;
    line-height:17px;
    text-align:center;
    border:2px solid transparent;
    border-radius:16px;
    color:#E17B67;
}

.gritter-close:before {
    font-family:FontAwesome;
    font-size:16px;
    content:"\f00d";
}

.gritter-info .gritter-close {
    color:orange;
}

.gritter-error .gritter-close,.gritter-success .gritter-close,.gritter-warning .gritter-close {
    color:#FFEA07;
}

.gritter-light .gritter-item,.gritter-light .gritter-bottom,.gritter-light .gritter-top,.gritter-light .gritter-close {
    background-image:none;
    color:#444;
}

.gritter-light .gritter-close:hover {
    color:#8A3104!important;
}

.gritter-center {
    position:fixed;
    left:33%;
    right:33%;
    top:33%;
}



/* componente de exemplo do instagram */

.instagram-panel .insta {
    height: 150px;
    overflow: hidden;
    border: none;
}

.instagram-panel .photo {display: none}


#progressBar {
        margin: auto auto 20px auto;
        width: 100%;
        height: 2px;
}

#progressBar div {
        height: 100%;
        color: #fff;
        text-align: right;
        line-height: 5px;
        width: 0;
        background-color: #3498db;  /*#0099ff*/
        transition: width 1s linear;
}



/* componente docs */
pre {
    display: block;
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    line-height: inherit;
    color: rgb(51, 51, 51);
    word-break: break-all;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #DEDFE3;
    border-radius: 0;
}


