<section class="panel">
  <header class="panel-heading">
    <h4 class="text-muted"> <i class="fa fa-chain-broken fa-rotate-90 "></i> rota não encontrada</h4>
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-8">

        <div class="well" style="margin: 30px auto 60px auto">
          <h2>A rota que você acessou não foi encontrada!</h2>
          <p>
            A página em: <span class="text-danger">/#<%= route %></span> pode ter sido movida, deletada
            ou ela não existe.
          </p>
        </div>

        <p><a href="#" class="btn btn-primary">Navegar para home</a></p>
      </div>
      <div class="col-md-4 text-center">
        <img src="/img/system/rocket.png" alt="">
      </div>
    </div>
  </div>
</section>
