<section class="panel instagram-panel">
    <header class="panel-heading">
        <h3><img src="https://fbcdn-dragon-a.akamaihd.net/hphotos-ak-xpa1/t39.2365-6/851582_417171855069447_55288290_n.png" alt="" style="width:32px"> Populares no instagram</h3>
    </header>
    <div class="panel-body">
        <div class="row">
            <div id="progressBar" class="col-md-12"><div></div></div>
        </div>

        <div class="row" id="images-box">
            <div class="text-center">carregando...</div>
        </div>
    </div>
</section>
